@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="topbar" style="width:196.2%">
    <div class="breadcrumb">
        <p style="color:#4E6097; font-weight: 500;">Admin > </p>
        <p style="margin-left:4px; ">Measurement</p>
    </div>

    <div class="search-wrapper">
        <span class="search-icon" style="color:#001A72 ">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input type="text" class="search-input"
               placeholder="Search orders, customers, fabrics..." />
    </div>

    <div class="profile">
        <div class="avatar"></div>
        <div>
            <strong>Able Tailor</strong><br />
            <small>Master Tailor</small>
        </div>
    </div>
</div>